<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<html lang="zh">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <title>Test</title>
    <script src="js/jquery/2.0.0/jquery.min.js"></script>
    <link href="css/bootstrap/3.3.6/bootstrap.min.css" rel="stylesheet">
    <script src="js/bootstrap/3.3.6/bootstrap.min.js"></script>
    <script src="js/vue/2.5.16/vue.min.js"></script>
    <script src="js/axios/0.17.1/axios.min.js"></script>
    <script src="js/moment/2.22.2/moment.js"></script>
</head>
<body>
<h1>单选题</h1>
<div>
    <button>保存并返回</button>
    <button>提交答案</button>
    <br>
    说明：每隔15分钟系统自动提交答案。您也可随时单击“提交答案”按钮，以免因机器原因导致答案丢失。
</div>
<h3>单选题（每题x分，共x题）</h3>
<div class="panel panel-warning addDiv">
    <br>
    <div>
        <table class="addTable">
            <tr>
                <td>1、</td>
                <td>题目</td>
            </tr>
            <tr>
                <td>
                    <input type="radio" id="A" value="A" v-model="radio">
                </td>
                <td>
                    A
                </td>
            </tr>
            <tr>
                <td>
                    <input type="radio" id="B" value="B" v-model="radio">
                </td>
                <td>
                    B
                </td>
            </tr>
            <tr>
                <td>
                    <input type="radio" id="C" value="C" v-model="radio">
                </td>
                <td>
                    C
                </td>
            </tr>
            <tr>
                <td>
                    <input type="radio" id="D" value="D" v-model="radio">
                </td>
                <td>
                    D
                </td>
            </tr>
        </table>
</div>	
</body>
</html>