<div class="navitagorDiv" th:fragment="html">
		<div class="index-nav">
		<div class="index-nav-frame clearfix">
			<div class="nav-line">

			</div>
			<div class="nav-small" tabindex="-1">
				<div class="nav-small-focus" tabindex="-1">

				</div>
				<img src="img/icon.png" />
			</div>
			<div class="index-nav-frame-line active" tabindex="-1">
				用户管理
				<div class="index-nav-frame-line-center">
					<div class="index-nav-frame-line-li">
						<a href="teacherManage">老师管理</a>

					</div>
					<div class="index-nav-frame-line-li">
						<a href="studentManage">学生管理</a>
					</div>
				</div>
				<div class="index-nav-frame-line-focus" tabindex="-1"></div>
			</div>
			<div class="index-nav-frame-line" tabindex="-1">
				班级管理
				<div class="index-nav-frame-line-center">
					<div class="index-nav-frame-line-li">
						<a href="classesManage">班级管理</a>
					</div>
				</div>
				<div class="index-nav-frame-line-focus" tabindex="-1"></div>
			</div>
			<div class="index-nav-frame-line" tabindex="-1">
				课程管理
				<div class="index-nav-frame-line-center">
					<div class="index-nav-frame-line-li">
						<a href="courseManage">新建与查看课程</a>
					</div>
					<div class="index-nav-frame-line-li">
						<a href="chapterManage">编辑章知识点</a>
					</div>
					<div class="index-nav-frame-line-li">
						<a href="knowledgepointManage">编辑节知识点</a>
					</div>
				</div>
				<div class="index-nav-frame-line-focus" tabindex="-1"></div>
			</div>
			<div class="index-nav-frame-line" tabindex="-1">
				题库管理
				<div class="index-nav-frame-line-center">

					<div class="index-nav-frame-line-li">
						<a href="editSingleChoice">新增单选题</a>
					</div>
					<div class="index-nav-frame-line-li">
						<a href="editCompletion">新增填空题</a>
					</div>
					<div class="index-nav-frame-line-li">
						<a href="editJudgement">新增判断题</a>
					</div>
					<div class="index-nav-frame-line-li">
						<a href="editShortAnswer">新增问答题</a>
					</div>
					<div class="index-nav-frame-line-li">
						<a href="editOperation">新增操作题</a>
					</div>
				</div>
				<div class="index-nav-frame-line-focus" tabindex="-1"></div>
			</div>
            <div class="index-nav-frame-line" tabindex="-1">
                学院管理
                <div class="index-nav-frame-line-center">

                    <div class="index-nav-frame-line-li">
						<a href="collegeManage">学院管理</a>
					</div>
                </div>
                <div class="index-nav-frame-line-focus" tabindex="-1"></div>
            </div>
			<div class="index-nav-frame-line" tabindex="-1">
				网课管理
				<div class="index-nav-frame-line-center">
					<div class="index-nav-frame-line-li">
						<a href="adminViewOnline">观看网课</a>
					</div>
					<div class="index-nav-frame-line-li">
						<a href="adminDeleteOnline">删除网课</a>
					</div>
				</div>
				<div class="index-nav-frame-line-focus" tabindex="-1"></div>
			</div>
			<div class="index-nav-frame-line" tabindex="-1">
				个人中心
				<div class="index-nav-frame-line-center">
					<div class="index-nav-frame-line-li">
						<a href="adminEditPassword" target="_blank">修改密码</a>
					</div>
					<div class="index-nav-frame-line-li">
						<a href="logout" >退出</a>
					</div>
				</div>
				<div class="index-nav-frame-line-focus" tabindex="-1"></div>
			</div>
		</div>
	</div>
</div>
