<div class="navitagorDiv" th:fragment="html">
<div class="index-nav">
    <div class="index-nav-frame clearfix">
        <div class="nav-line">

        </div>
        <div class="nav-small" tabindex="-1">
            <div class="nav-small-focus" tabindex="-1">

            </div>
            <img src="img/icon.png" />
        </div>
        <div class="index-nav-frame-line active" tabindex="-1">
            师生交流
            <div class="index-nav-frame-line-center">
                <div class="index-nav-frame-line-li">
                    <a href="studentListMessage">查看留言</a>
                </div>
                <div class="index-nav-frame-line-li">
                    <a href="studentMessage">查看已发送留言</a>
                </div>
            </div>
            <div class="index-nav-frame-line-focus" tabindex="-1"></div>
        </div>

        <div class="index-nav-frame-line" tabindex="-1">
            班级资料
            <div class="index-nav-frame-line-center">
                <div class="index-nav-frame-line-li">
                    <a href="studentMaterial">下载班级资料</a>
                </div>
            </div>
            <div class="index-nav-frame-line-focus" tabindex="-1"></div>
        </div>
        <div class="index-nav-frame-line" tabindex="-1">
            作业
            <div class="index-nav-frame-line-center">
                <div class="index-nav-frame-line-li">
                    <a href="studentAssignment">上传作业</a>
                </div>
            </div>
            <div class="index-nav-frame-line-focus" tabindex="-1"></div>
        </div>
        <div class="index-nav-frame-line" tabindex="-1">
            考试
            <div class="index-nav-frame-line-center">
                <div class="index-nav-frame-line-li">
                    <a href="onlineExam">考试</a>
                </div>
                <div class="index-nav-frame-line-li">
                    <a href="achievement">查阅</a>
                </div>
            </div>
            <div class="index-nav-frame-line-focus" tabindex="-1"></div>
        </div>
        <div class="index-nav-frame-line" tabindex="-1">
            网课
            <div class="index-nav-frame-line-center">
                <div class="index-nav-frame-line-li">
                    <a href="studentViewOnline">观看网课</a>
                </div>
            </div>
            <div class="index-nav-frame-line-focus" tabindex="-1"></div>
        </div>
        <div class="index-nav-frame-line" tabindex="-1">
            个人中心
            <div class="index-nav-frame-line-center">
                <div class="index-nav-frame-line-li">
                    <a href="studentEditPassword" target="_blank">修改密码</a>
                </div>
                <div class="index-nav-frame-line-li">
                    <a href="logout" >退出</a>
                </div>
            </div>
            <div class="index-nav-frame-line-focus" tabindex="-1"></div>
        </div>
    </div>
</div>
</div>
