<div class="navitagorDiv" th:fragment="html">
	<div class="index-nav">
    <div class="index-nav-frame clearfix">
        <div class="nav-line">

        </div>
        <div class="nav-small" tabindex="-1">
            <div class="nav-small-focus" tabindex="-1">

            </div>
            <img src="img/icon.png" />
        </div>
        <div class="index-nav-frame-line active" tabindex="-1">
            师生交流
            <div class="index-nav-frame-line-center">
                <div class="index-nav-frame-line-li">
                <a href="teacherListMessage">查看留言</a>
            </div>
                <div class="index-nav-frame-line-li">
                    <a href="teacherMessage">查看已发送留言</a>
                </div>
            </div>
            <div class="index-nav-frame-line-focus" tabindex="-1"></div>
        </div>
        <div class="index-nav-frame-line" tabindex="-1">
            班级管理
            <div class="index-nav-frame-line-center">
                <div class="index-nav-frame-line-li">
                    <a href="teacherClasses">新增班级</a>
                </div>
                <div class="index-nav-frame-line-li">
                    <a href="teacherAddStudents">批量添加学生</a>
                </div>
            </div>
            <div class="index-nav-frame-line-focus" tabindex="-1"></div>
        </div>
        <div class="index-nav-frame-line" tabindex="-1">
            班级资料
            <div class="index-nav-frame-line-center">
                <div class="index-nav-frame-line-li">
                    <a href="teacherMaterial">上传班级资料</a>
                </div>
            </div>
            <div class="index-nav-frame-line-focus" tabindex="-1"></div>
        </div>
        <div class="index-nav-frame-line" tabindex="-1">
            作业管理
            <div class="index-nav-frame-line-center">
                <div class="index-nav-frame-line-li">
                    <a href="teacherAssignment">批改作业</a>
                </div>
            </div>
            <div class="index-nav-frame-line-focus" tabindex="-1"></div>
        </div>
        <div class="index-nav-frame-line" tabindex="-1">
            考试管理
            <div class="index-nav-frame-line-center">
                <div class="index-nav-frame-line-li">
                    <a href="buildExam">组卷</a>
                </div>
                <div class="index-nav-frame-line-li">
                    <a href="sendExam">发卷</a>
                </div>
                <div class="index-nav-frame-line-li">
                    <a href="teacherMark">批改</a>
                </div>
            </div>
            <div class="index-nav-frame-line-focus" tabindex="-1"></div>
        </div>
        <div class="index-nav-frame-line" tabindex="-1">
            网课管理
            <div class="index-nav-frame-line-center">

                <div class="index-nav-frame-line-li">
                    <a href="teacherCreateOnline">创建与删除网课</a>
                </div>
                <div class="index-nav-frame-line-li">
                    <a href="teacherUploadOnline">上传网课</a>
                </div>
                <div class="index-nav-frame-line-li">
                    <a href="teacherViewOnline">观看网课</a>
                </div>
            </div>
            <div class="index-nav-frame-line-focus" tabindex="-1"></div>
        </div>
        <div class="index-nav-frame-line" tabindex="-1">
            个人中心
            <div class="index-nav-frame-line-center">

                <div class="index-nav-frame-line-li">
                    <a href="teacherEditPassword" target="_blank">修改密码</a>
                </div>
                <div class="index-nav-frame-line-li">
                    <a href="logout" >退出</a>
                </div>
            </div>
            <div class="index-nav-frame-line-focus" tabindex="-1"></div>
        </div>
    </div>
</div>
</div>
