<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:include="include/header::html('老师主页')" ></head>
<body>
<div th:replace="include/teacherNavigator::html" ></div>
<script>
    function checkEmpty(value,text){

        if(null==value || value.length==0){
            alert(text+ "不能为空");
            return false;
        }
        return true;
    }
    $(function(){
        var data4Vue = {
            user: { id:"", name: '',password:"",dpassword:""}
        };

        //ViewModel
        var vue = new Vue({
            el: '#workingArea',
            data: data4Vue,
            mounted:function(){ //mounted　表示这个 Vue 对象加载成功了
            },
            methods: {
                editPassword:function(){
                    if (this.user.password == this.user.dpassword){
                        var url = "editPassword/" + this.user.password;
                        axios.post(url).then(function(response) {
                            window.close();
                        });
                    }
                    else {
                        alert("密码不相同")
                    }

                }
            }
        });
    });
</script>
<div id="workingArea">
    <h1 class="label label-info" >修改密码</h1>
    <br>
    <br>

    <div class="panel panel-warning addDiv">
        <div class="panel-heading">修改密码</div>
        <div class="panel-body">
            <table class="addTable">
                <tr>
                    <td>新密码</td>
                    <td><input v-model.trim="user.password" type="password" class="form-control" style="display:block;  width:90%"></td>
                </tr>
                <tr>
                    <td>确认新密码</td>
                    <td><input v-model.trim="user.dpassword" type="password" class="form-control" style="display:block;  width:90%"></td>
                </tr>
                <tr class="submitTR">
                    <td colspan="2" align="center">
                        <a href="#nowhere" class="btn btn-success" @click="editPassword">提交</a>
                    </td>
                </tr>
            </table>
        </div>
    </div>
</div>
</div>
</body>
</html>