<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:include="include/header::html('老师主页')" ></head>
<body>
<div th:replace="include/teacherNavigator::html" ></div>
        <script>
                //根据老师id获取班级
                //上传文件
                //获取已经上传的文件
                function checkEmpty(value, text) {
            
                    if (null == value || value.length == 0) {
                        alert(text + "不能为空");
                        return false;
                    }
                    return true;
                }
            
                $(function () {
                    var data4Vue = {
                        uri: 'teacherListMaterial',
                        materials: [],
                        material: {id: "", fileName: "", createtime: "", classes: {id: ""}},
                        classies: [],
                        classes: {id: "", name: ""},
                        file:null
                    };
            
                    //ViewModel
                    var vue = new Vue({
                        el: '#workingArea',
                        data: data4Vue,
                        mounted: function () { //mounted　表示这个 Vue 对象加载成功了
                            this.listClasses();
                        },
                        methods: {
                            listClasses: function () {
                                var url = "listClasses";
                                axios.get(url).then(function (response) {
                                    vue.classies = response.data;
                                });
                            },
                            listMaterial: function (classesID) {
                                var url = this.uri + "/" + classesID;
                                axios.get(url).then(function (response) {
                                    vue.materials = response.data;
                                });
                            },
                            sendMaterial: function () {
                                var classesID = this.classes.id;
                                var url = this.uri;
                                var formData = new FormData();
                                formData.append("file", this.file);
                                formData.append("id",this.classes.id);
                                axios.post(url, formData).then(function (response) {
                                    var result = response.data;
                                    vue.message = {title: "", content: ""};
                                    vue.file = null;
                                    if (result.code==0){
                                        alert("成功发送");
                                        vue.listMaterial(classesID);
                                    }
                                });
                            },
                            getFile: function (event) {
                                this.file = event.target.files[0];
                            },
                            deleteMaterial: function (id) {
                                var url = "deleteMaterial"+ "/" + id;
                                var classesID = this.classes.id;
                                axios.delete(url).then(function (response) {
                                    if(0!=response.data.length){
                                        alert(response.data);
                                    }
                                    else{
                                        vue.listMaterial(classesID);
                                    }
                                });
                            }
                        }
                    });
                });
            </script>
<div id="workingArea">
    <h1>班级资料</h1>
    <div class="panel panel-warning addDiv">
        <br>
        <div>
            <table class="addTable">
                <tr>
                    <td>班级：</td>
                    <td>
                        <select v-model="classes.id" @change="listMaterial(classes.id)">
                            <option v-for="classes in classies" :value="classes.id">{{classes.name}}</option>
                        </select>
                    </td>
                </tr>

                <tr>
                    <td>文件：</td>
                    <td>
                        <input id="categoryPic" type="file" name="image" @change="getFile($event)"/>
                    </td>
                </tr>

                <tr class="submitTR">
                    <td colspan="2" align="center">
                        <a href="#nowhere" @click="sendMaterial" class="btn btn-success">上传文件</a>
                    </td>
                </tr>
            </table>
        </div>
    </div>
    <br>
    <div class="listDataTableDiv">
        <table class="table table-striped table-bordered table-hover  table-condensed">
            <thead>
            <tr class="success">
                <th>下载</th>
                <th>删除</th>
                <th>文件名</th>
            </tr>
            </thead>
            <tbody>
            <tr v-for="material in materials">
                <td><a :href="'file/material/' + material.fileName">下载</a></td>
                <td>
                    <a href="#nowhere" @click="deleteMaterial(material.id)"><span class="   glyphicon glyphicon-trash"></span></a>
                </td>
                <td>
                    {{material.fileName}}
                </td>
            </tr>
            </tbody>
        </table>
    </div>
</div>
</body>
</html>