<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:include="include/header::html('学生主页')" ></head>
<body>
<div th:replace="include/studentNavigator::html" ></div>
        <script>
                //将周数、文件传过去
                function checkEmpty(value, text) {
            
                    if (null == value || value.length == 0) {
                        alert(text + "不能为空");
                        return false;
                    }
                    return true;
                }
            
                $(function () {
                    var data4Vue = {
                        uri: 'studentAssignment',
                        assignments: [],
                        assignment: {week: ""},
                        file: null
                    };
            
                    //ViewModel
                    var vue = new Vue({
                        el: '#workingArea',
                        data: data4Vue,
                        mounted: function () { //mounted　表示这个 Vue 对象加载成功了
                            this.listAssignment();
                        },
                        methods: {
                            listAssignment: function () {
                                var url = "studentListAssignment";
                                axios.get(url).then(function (response) {
                                    vue.assignments = response.data;
                                });
                            },
                            sendAssignment: function () {
                                var url = "sendAssignment";
                                var formData = new FormData();
                                formData.append("file", this.file);
                                formData.append("week", this.assignment.week);
                                axios.post(url, formData).then(function (response) {
                                    vue.assignment = {week: ""};
                                    vue.file = null;
                                    vue.listAssignment();
                                });
                            },
                            getFile: function (event) {
                                this.file = event.target.files[0];
                            }
                        }
                    });
                });
            </script>
<div id="workingArea">
    <h1>提交作业</h1>
    <div class="panel panel-warning addDiv">
        <br>
        <div>
            <table class="addTable">
                <tr>
                    <td></td>
                    <td>
                        第
                        <select v-model="assignment.week">
                            <option value="1">1</option>
                            <option value="2">2</option>
                            <option value="3">3</option>
                            <option value="4">4</option>
                            <option value="5">5</option>
                            <option value="6">6</option>
                            <option value="7">7</option>
                            <option value="8">8</option>
                            <option value="9">9</option>
                            <option value="10">10</option>
                            <option value="11">11</option>
                            <option value="12">12</option>
                            <option value="13">13</option>
                            <option value="14">14</option>
                            <option value="15">15</option>
                            <option value="16">16</option>
                            <option value="17">17</option>
                            <option value="18">18</option>
                            <option value="19">19</option>
                            <option value="20">20</option>
                        </select>
                        周
                    </td>
                </tr>
                <tr>
                    <td>文件：</td>
                    <td>
                        <input id="categoryPic" type="file" name="image" @change="getFile($event)"/>
                    </td>
                </tr>
                <tr class="submitTR">
                    <td colspan="2" align="center">
                        <a href="#nowhere" @click="sendAssignment" class="btn btn-success">上传文件</a>
                    </td>
                </tr>
            </table>
        </div>
    </div>
    <br>
    <br>
    <div class="listDataTableDiv">
        <table class="table table-striped table-bordered table-hover  table-condensed">
            <thead>
            <tr class="success">
                <th>ID</th>
                <th>周</th>
                <th>文件</th>
                <th>分数</th>
            </tr>
            </thead>
            <tbody>
            <tr v-for="assignment in assignments">
                <td>
                    {{assignment.id}}
                </td>
                <td>
                    {{assignment.week}}
                </td>
                <td>
                    <a :href="'file/assignment/' + assignment.fileName">{{assignment.fileName}}</a>
                </td>
                <td>{{assignment.score}}</td>
            </tr>
            </tbody>
        </table>
    </div>
</div>
</body>
</html>