<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:include="include/header::html('老师主页')" ></head>
<body>
<div th:replace="include/teacherNavigator::html" ></div>
        <script>
                //根据老师ID获取班级
                //根据班级ID获取课程ID，根据课程获取试卷
                //设置joinexam以及inqury
                //设置考试时长
                //获取本班学生信息
                function checkEmpty(value,text){
            
                    if(null==value || value.length==0){
                        alert(text+ "不能为空");
                        return false;
                    }
                    return true;
                }
                $(function(){
                    var data4Vue = {
                        uri:'markExam',
                        classies:[],
                        classes:{id:'',name:''},
                        exams:[],
                        exam:{id:'',name:''},
                        achievements:[]
                    };
            
                    //ViewModel
                    var vue = new Vue({
                        el: '#workingArea',
                        data: data4Vue,
                        mounted:function(){ //mounted　表示这个 Vue 对象加载成功了
                            this.listClasses();
                        },
                        methods: {
                            listClasses:function(){
                                var url =  this.uri+"/listClasses";
                                axios.get(url).then(function(response) {
                                    vue.classies = response.data   ;
                                });
                            },
                            listExam:function () {
                                var classesID = this.classes.id;
                                var url = this.uri + "/listExam/" + classesID;
                                axios.get(url).then(function(response) {
                                    vue.exams = response.data   ;
                                });
                            },
                            listAchievement:function () {
                                var examID = this.exam.id;
                                var classesID = this.classes.id;
                                var url = this.uri + "/listAchievement" + "/" + examID + "/" + classesID;
                                axios.get(url).then(function(response) {
                                    vue.achievements = response.data   ;
                                });
                            }
                        }
                    });
                });
            </script>
<div id="workingArea">
    <h1>批阅</h1>
    <div>
        选择班级：
        <select v-model="classes.id" @change="listExam">
            <option v-for="classes in classies" :value="classes.id">{{classes.name}}</option>
        </select>
    </div>
    <div>
        选择试卷：
        <select  v-model="exam.id" multiple size="5" @change="listAchievement">
            <option disabled value="">请选择</option>
            <option v-for="exam in exams" :value="exam.id">{{exam.name}}</option>
        </select>
    </div>

    <div>
        <button>保存成绩</button>
        <button>批量删除</button>
        <button>刷新</button>
        <button>批阅</button>
        <button>排序（学号，升序）</button>
        <button>排序（总分，降序）</button>
    </div>
    <div class="listDataTableDiv">
        <table class="table table-striped table-bordered table-hover  table-condensed">
            <thead>
            <tr class="success">
                <th>
                    <input type="checkbox">
                    <label>全选</label>
                </th>
                <th>学号</th>
                <th>姓名</th>
                <th>试卷ID</th>
                <th>单选</th>
                <th>填空</th>
                <th>批改填空题</th>
                <th>判断</th>
                <th>问答</th>
                <th>批改问答题</th>
                <th>操作题</th>
                <th>批改操作题</th>
                <th>总分</th>
            </tr>
            </thead>
            <tbody>
            <tr v-for="achievement in achievements">
                <td>
                    <input type="checkbox">
                </td>
                <td>
                    {{achievement.student.stuid}}
                </td>
                <td>
                    {{achievement.student.name}}
                </td>
                <td>
                    {{achievement.exam.id}}
                </td>
                <td>
                    {{achievement.score1}}
                </td>
                <td>
                    {{achievement.score2}}
                </td>
                <td>
                    <a :href="'markCompletion?examID='+ achievement.exam.id + '&studentID='+ achievement.student.id + '&classesID='+ achievement.classes.id">
                        <button>批改填空题</button>
                    </a>
                </td>
                <td>
                    {{achievement.score3}}
                </td>
                <td>
                    {{achievement.score4}}
                </td>
                <td>
                    <a :href="'markShortAnswer?examID='+ achievement.exam.id + '&studentID='+ achievement.student.id + '&classesID='+ achievement.classes.id">
                        <button>批改问答题</button>
                    </a>
                </td>
                <td>
                    {{achievement.score5}}
                </td>
                <td>
                    <a :href="'markOperation?examID='+ achievement.exam.id + '&studentID='+ achievement.student.id + '&classesID='+ achievement.classes.id">
                        <button>批改操作题</button>
                    </a>
                </td>
                <td>
                    {{achievement.total}}
                </td>
            </tr>
            </tbody>
        </table>
    </div>
</div>
</body>
</html>